<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Contact - Mayank</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link href="https://i.pinimg.com/280x280_RS/65/3c/2d/653c2d6533c7a9ad457117db8cf819d2.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../asset/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../asset/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../asset/vendor/aos/aos.css" rel="stylesheet">
  <link href="../asset/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../asset/css/style.css" rel="stylesheet">

  <!-- =======================================================
    Template Name: MyPortfolio
    Template URL: https://bootstrapmade.com/myportfolio-bootstrap-portfolio-website-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com/
  ======================================================= -->
</head>


<body>

  <div style="margin: 2%;font-size: larger;text-align: center;">
      <a href="#">HOME</a>
      <a href="#">ABOUT</a>
      <a href="#">SERVICES</a>
      <a href="works.html">COURSES</a>
      <a href="contact.html" style="font-size: 25px;font-weight: bold;color: rgb(255, 0, 76);">CONTACT</a>
  </div>    
  <main id="main">

    <div class="site-section pb-0 site-portfolio">
      <div class="container">

        <div class="row mb-5 align-items-end">
          <div class="col-md-6" data-aos="fade-up">
            <h2>Contact</h2>
            <p class="mb-0">Get in touch with me. Send requests according to your requirements and any help.
            </p>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0" data-aos="fade-up">
            
            <form action="contactpost" method="post">
              
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">Name</label>
                  <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <label for="name">Email</label>
                  <input type="email" class="form-control" name="email" id="email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Subject</label>
                  <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-12 form-group">
                  <label for="name">Message</label>
                  <textarea class="form-control" name="message" cols="30" rows="10" data-rule="required" data-msg="Please write something for us"></textarea>
                  <div class="validate"></div>
                </div>

                <div class="col-md-6 form-group">
                  <input type="submit" class="readmore d-block w-100" value="Send Message">
                </div>
              </div>

            </form>

          </div>

          <div class="col-md-4 ml-auto order-2" data-aos="fade-up">
            <ul class="list-unstyled">
              <li class="mb-3">
                <strong class="d-block mb-1">Address</strong>
                <span>NP 424,SALTLAKE SECTOR 5,BIDHANNAGAR,KOLKATA<br>PIN-700091</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Phone</strong>
                <span>+91 700 400 9454</span>
              </li>
              <li class="mb-3">
                <strong class="d-block mb-1">Email</strong>
                <span>mayankku1307@gmail.com</span>
              </li>
            </ul>
          </div>

        </div>

      </div>

    </div>
  </main>

        <!-- footer -->
        <footer class="footer" role="contentinfo">
          <div class="container">
              <div class="row">
                  <div class="col-sm-6"><br><br>
                      <a style="padding: 0% 2%;" href="https://instagram.com/mayankku1307/?hl=en">Instagram</a style="padding: 2%;">
                          <a style="padding: 0% 2%;" href="https://www.facebook.com/profile.php?id=100006256815631">Facebook</a>
                          <a style="padding: 0% 2%;" href="https://github.com/mayank1307?tab=repositories">GitHub</a>
                          <a style="padding: 0% 2%;" href="https://www.codechef.com/users/mayank1307">Codechef</a>
                          <a style="padding: 0% 2%;" href="https://twitter.com/ishank1307">Twitter</a>
                          <a style="padding: 0% 2%;" href="about.html">About Us</a>
                          <a class="navbar-brand" href="index.html"><img src="logo.svg" style="width: 150px;align-content: right;"></a>
                      </div>
                  </div>
              </div>
          </footer>
          <!-- Vendor JS Files -->
          <script src="../asset/vendor/jquery/jquery.min.js"></script>
          <script src="../asset/vendor/jquery/jquery-migrate.min.js"></script>
          <script src="../asset/vendor/bootstrap/js/bootstrap.min.js"></script>
          <script src="../asset/vendor/easing/easing.min.js"></script>
          <script src="../asset/vendor/php-email-form/validate.js"></script>
          <script src="../asset/vendor/isotope/isotope.pkgd.min.js"></script>
          <script src="../asset/vendor/aos/aos.js"></script>
          <script src="../asset/vendor/owlcarousel/owl.carousel.min.js"></script>
          
          <!-- Template Main JS File -->
          <script src="../asset/js/main.js"></script>
          
      </body>
      
</html>
      