<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Courses - Mayank</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link href="https://i.pinimg.com/280x280_RS/65/3c/2d/653c2d6533c7a9ad457117db8cf819d2.jpg" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,700&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="../asset/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../asset/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="../asset/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
  <link href="../asset/vendor/aos/aos.css" rel="stylesheet">
  <link href="../asset/vendor/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../asset/css/style.css" rel="stylesheet">
</head>
<body>
    <div style="margin: 2%;font-size: larger;text-align: center;">
        <a href="#">HOME</a>
        <a href="#">ABOUT</a>
        <a href="#">SERVICES</a>
        <a href="works.html" style="font-size: 25px;font-weight: bold;color: rgb(255, 124, 2);">COURSES</a>
        <a href="contact.html">CONTACT</a>
    </div>

    <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
        <h2>Physics</h2>
        <p class="mb-0">Class X</p>
    </div>
    
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Electricity
                </button>
            </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CIv6vu9d73c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="razorpay-embed-btn" data-url="https://rzp.io/l/rvLwaed" data-text="Buy Course" data-color="#528FF0" data-size="large"></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Light & Optics
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/v5SuSB_93FM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="razorpay-embed-btn" data-url="https://rzp.io/l/rvLwaed" data-text="Buy Course" data-color="#528FF0" data-size="large"></div>                  
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                More
                </button>
            </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                <div class="razorpay-embed-btn" data-url="https://rzp.io/l/rvLwaed" data-text="Buy Course" data-color="#528FF0" data-size="large"></div>                  
            </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row">
        <div class="col-sm-6">
          <a style="padding: 0% 2%;" href="https://instagram.com/mayankku1307/?hl=en">Instagram</a style="padding: 2%;">
            <a style="padding: 0% 2%;" href="https://www.facebook.com/profile.php?id=100006256815631">Facebook</a>
            <a style="padding: 0% 2%;" href="https://github.com/mayank1307?tab=repositories">GitHub</a>
            <a style="padding: 0% 2%;" href="https://www.codechef.com/users/mayank1307">Codechef</a>
            <a style="padding: 0% 2%;" href="https://twitter.com/ishank1307">Twitter</a>
            <a style="padding: 0% 2%;" href="about.html">About Us</a>
            <a class="navbar-brand" href="index.html"><img src="logo.svg" style="width: 150px;align-content: right;"></a>
          </div>
        </div>
      </div>
    </footer>
  <!-- Vendor JS Files -->
  <script>
    (function(){
      var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
      if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
      s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['__rzp__'];
      rzp && rzp.init && rzp.init()}})();
  </script>
  <script src="../asset/vendor/jquery/jquery.min.js"></script>
  <script src="../asset/vendor/jquery/jquery-migrate.min.js"></script>
  <script src="../asset/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="../asset/vendor/easing/easing.min.js"></script>
  <script src="../asset/vendor/php-email-form/validate.js"></script>
  <script src="../asset/vendor/isotope/isotope.pkgd.min.js"></script>
  <script src="../asset/vendor/aos/aos.js"></script>
  <script src="../asset/vendor/owlcarousel/owl.carousel.min.js"></script>

  <!-- Template Main JS File -->
  <script src="../asset/js/main.js"></script>

</body>

</html>
